# ==========================================
# VARIÁVEIS DO BACKEND
# ==========================================
MONGO_URI=mongodb://127.0.0.1:27017/marianos_meat
PORT=3000

# ==========================================
# VARIÁVEIS DO FRONTEND (VITE)
# ==========================================
VITE_API_URL=http://localhost:3000/api